<?xml version='1.0' encoding='utf-8'?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="antik.modz">

    <!-- Показ поверх всех окон -->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>

    <!-- Изменение или удаление данных на общем накопителе -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <!-- Просмотр данных на общем накопителе -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <!-- MANAGE_EXTERNAL_STORAGE -->
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE"/>

    <!-- READ_MEDIA_IMAGES -->
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES"/>

    <!-- READ_MEDIA_VIDEO -->
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO"/>

    <!-- READ_MEDIA_AUDIO -->
    <uses-permission android:name="android.permission.READ_MEDIA_AUDIO"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
		android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
		android:theme="@style/AppTheme"
        android:requestLegacyExternalStorage="true">

        <activity
            android:name="antik.modz.MainActivity"
            android:exported="true">

            <intent-filter>

                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>

            </intent-filter>

        </activity>

        <service
            android:name="antik.modz.modmenu.FloatingModMenuService"
            android:enabled="true"
            android:exported="false"
            android:stopWithTask="true"/>

    </application>

</manifest>
